<h2>Hepatitis</h2>
<p>
    Our Vision: A world without viral hepatitisOur Mission: To end the viral hepatitis epidemics through leadership in science and public health practices

2025 Strategic Plan Goals: 

Goal 1: Reduce new viral hepatitis infections
Outcome Measures — reduce estimated new:

HAV infections from 6,700 in 2017 to ≤ 4,000 in 2023 and ≤ 2,500 in 2028
HBV infections from 22,200 in 2017 to ≤ 18,000 in 2023 and ≤ 2,200 in 2028
HCV infections from 44,700 in 2017 to ≤ 35,000 in 2023 and ≤ 4,400 in 2028
Goal 2: Reduce viral hepatitis-related morbidity and mortality
Outcome Measures—reduce reported rate of:

Hepatitis B-related deaths per 100,000 population from 0.46 in 2017 to ≤ 0.37 in 2023 and ≤ 0.16 in 2028
Hepatitis C-related deaths per 100,000 population from 4.13 in 2017 to ≤ 3.00 in 2023 and ≤ 1.44 in 2028
Goal 3: Reduce viral hepatitis-related disparities
Outcome Measures—reduce reported rate of:

New HBV infections among PWID* per 100,000 population from 1.4 in 2017 to ≤ 1.0 in 2023 and ≤ 0.1 in 2028
New HCV infections among PWID* per 100,000 population from 2.3 in 2017 to ≤ 1.7 in 2023 and ≤ 0.2 in 2028
Hepatitis B-related deaths among A/PIs per 100,000 population from 2.45 in 2017 to ≤ 1.84 in 2023 and
≤ 0.86 in 2028
Hepatitis C-related deaths among AI/ANs per 100,000 population from 10.24 in 2017 to ≤ 7.17 in 2023 and
≤ 3.58 in 2028
Hepatitis C-related deaths among non-Hispanic Blacks per 100,000 population from 7.03 in 2017 to ≤ 4.92 in
2023 and ≤ 2.46 in 2028
Goal 4: Establish comprehensive national viral hepatitis surveillance for public health action
Outcome Measures—increase the proportion of:

Funded jurisdictions that report all viral hepatitis notifiable conditions to CDC to 90% by 2025
Funded jurisdictions that meet CDC quality standards for completeness and timeliness to 90% by 2025
Funded jurisdictions that have analyzed and disseminated surveillance data for public health action to 90% by 2025
All viral hepatitis clusters/outbreaks that are reported to CDC within 30 days to 90% by 2022
</p>