<h2>Coronavirus (COVID-19): Home Care & Precautions</h2>
<p>
    Doctors might recommend home care if someone in your family:

has coronavirus (COVID-19)
was tested for COVID-19 and is waiting for the results
has flu symptoms (like a fever, cough, and sore throat)
Anyone who is sick — even if they don't know for sure they have coronavirus (COVID-19) — should stay home unless they need medical care. This helps prevent the illness from spreading to other people.

What Should We Do at Home?
To protect others at home, someone who is sick should:

As much as possible, keep away from other people and pets in your home.
Wear a mask if they must be around other people. Masks shouldn't be worn by kids younger than 2 years old or anyone who can't take off a mask without help. For more about masks, check the CDC's guide.
Cover coughs and sneezes with a tissue, throw the tissue away, and then wash their hands right away. Wash with soap and water for at least 20 seconds, or use alcohol-based hand sanitizer.
If possible, stay in a bedroom and use a bathroom separate from other people in the home.
Use separate dishes, glasses, cups, and eating utensils and not share these with other household members. After use, run them through the dishwasher or wash with very hot soapy water.
Use separate bedding and towels and not share these with other household members.
Also:

If the person who is sick can't wear a mask, caregivers should wear one while they're in the same room.
Make sure shared spaces in the home have good air flow. You can open a window or turn on an air filter or air conditioner.
Do not allow visitors into your home. This includes children and adults.
All household members should wash their hands well and often. Wash with soap and water for at least 20 seconds, or use alcohol-based hand sanitizer.
Wash the sick person's clothing, bedding, and towels with detergent on the hottest temperature possible. These can be washed together with the rest of the household laundry. Wear gloves when handling their laundry, if possible. Wash your hands well after handling the laundry (even if you wore gloves).
Every day, use a household cleaner or wipe to clean things that get touched a lot. These include doorknobs, light switches, toys, remote controls, sink handles, counters, and phones. Keep a sick child's toys separate from other toys, if possible.
To protect others in your community, the person who is sick should stay home unless they need medical care. This is called isolation.
</p>