<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head>
<body>

<form action="HomeDoctor.html" style="border:1px solid #ccc">
  <div class="container">
    <h1>Doctor Log In Page</h1>
    <hr>
    <label for="user"><b>Username</b></label>
    <input type="text" placeholder="Username" name="user" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn"><a href="home.html"></a>Sign In</button>
    </div>
  </div>
  </form>
  
  </body>
  </html>