<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Home Page</title>
</head>
<body>
    <form action="login.html" style="border:1px solid #ccc">
        <div class="container">
          <h1>PATIENTS</h1>
          <p>Search your patient</p>
          <hr>
          <label for="name"><b> Search by Name / Id</b>
          <input type="text" placeholder=" Id/ Name" name="Id" required></label>
        </div>
        <div>    
            <button type="submit" class="signupbtn"><a href="index.html"></a>Submit</button>
        </div>
    </form>
    <div>
        <h2>Recent Patients</h2>
        <table>
            <tr>
              <th>Patient Name</th>
              <th>Patient Id</th>
              <th>Last Appointment</th>
              <th>Last Report</th>
            </tr>
            <tr>
              <td>Aashish Jha</td>
              <td>1</td>
              <td>10-6-21</td>
              <td><a>Read file</a></td>
            </tr>
            <tr>
              <td>Vishesh Thakur</td>
              <td>2</td>
              <td>4-2-20</td>
              <td><a>Read file</a></td>
            </tr>
            <tr>
                <td>Avinash Gupta</td>
                <td>3</td>
                <td>24-12-22</td>
                <td><a>Read file</a></td>
            </tr>
          </table>
    </div>
</body>
</html>