<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient's Home Page</title>
</head>
<body>
    <form action="login.html" style="border:1px solid #ccc">
        <div class="container">
          <h1>Patient 1</h1>
          <h3>Doctor's Accessed</h3>
          <hr>
          <label for="name"><b> Search by Name / Id</b>
          <input type="text" placeholder=" Id/ Name" name="Id" required></label><br><br>
        </div>
        <div>    
            <button type="submit" class="signupbtn"><a href="/login.html"></a>Submit</button><br>
        </div>
        <div>
            <p>Doctor 1</p>
            <p>Doctor 2</p>
            <p>Doctor 3</p>
        </div>
    </form>
</body>
</html>